# Stack build artifacts
.stack-work/

# Cabal build artifacts
dist-newstyle/

# Vim swap files
*~

# C++ MIDI player build artifacts
midiplayer-jack-cpp/build

# Nix build artifacts
result*

# direnv configuration
.envrc
